<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <style>
        table {
            width: 100%;
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        <h1>Listagem de passageiros</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Número do voo</th>
                    <th>Horário</th>
                    <tbody>
                        <% if (passengers.length > 0) { %>
                            <% passengers.forEach(passenger => { %>
                                <tr>
                                    <td><%= passenger.name %></td>
                                    <td><%= passenger.flightNumber %></td>
                                    <td><%= passenger.time %></td>
                                </tr>
                            <% }); %>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <%=passengers.length%> passageiros
                            </td>
                        </tr>
                    </tfoot>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>